<launch>

  	<node pkg="map_compression" type="clusterMap" name="clusterMap" output="screen">
	
  	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/wholeMap_yq.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/01.08/locTest/cluster_b500.ply"/-->

  	<param name="loadMapName" value="/home/yh/mapModel/2019/01.10/wholeMap_park.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/01.10/locTest/cluster_b2000.ply"/>

    <param name="disThreshold" value="0.25"/>
    <param name="minNum" value="20"/>
    <param name="maxNum" value="150"/>
    <param name="expectedNum" value="41198"/>

  </node>
</launch>
