<launch>

  	<node pkg="map_compression" type="clusterMap" name="clusterMap" output="screen">
	
  	<!--param name="loadMapName" value="/home/yh/mapModel/2019/07.22/wholeMap_yq.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/07.22/loc/loc_yq_b4000_cluster.ply"/-->

  	<!--param name="loadMapName" value="/home/yh/mapModel/2019/07.21/wholeMap_kitti.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/07.21/loc/loc_kitti_b1000_cluster.ply"/-->

	<param name="loadMapName" value="/home/yh/mapModel/2019/07.23/wholeMap_park.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/07.23/loc/loc_park_04_cluster.ply"/>

    <param name="disThreshold" value="0.15"/>
    <param name="minNum" value="10"/>
    <param name="maxNum" value="200"/>
    <param name="expectedNum" value="60114"/>

  </node>
</launch>
