<launch>

	<arg name="keepPointsNum"/> 
	<arg name="loadMapName"/> 
	<arg name="saveMapName"/> 

  	<node pkg="map_compression" type="randomSampleMap" name="randomSampleMap" output="screen" required="true">
		
	<param name="keepPointsNum" value="$(arg keepPointsNum)"/>s
s
	<param name="loadMapName" value="$(arg loadMapName)"/>
	<param name="saveMapName" value="$(arg saveMapName)"/>

	<!--param name="loadMapName" value="/home/yh/mapModel/2019/07.11/wholeMap_kitti_10.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/07.11/loc/loc_kitti_b4000_random_5.ply"/-->

  </node>
</launch>
