<launch>

  	<node pkg="map_compression" type="randomSampleMap" name="randomSampleMap" output="screen">
		
  	<param name="keepPointsNum" value="22283"/>
s
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/wholeMap_yq.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/01.08/locTest/random/random_b1000_4.ply"/-->

	<param name="loadMapName" value="/home/yh/mapModel/2019/07.11/wholeMap_kitti_10.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/07.11/loc/loc_kitti_b1000_random.ply"/>

  </node>
</launch>
