<launch>

  	<node pkg="map_compression" type="randomSampleMap" name="randomSampleMap" output="screen">
		
  	<param name="keepPointsNum" value="99118"/>
s
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/07.12/wholeMap_yq.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/07.12/loc/loc_yq_b1000_random_5.ply"/-->

	<param name="loadMapName" value="/home/yh/mapModel/2019/07.11/wholeMap_kitti_10.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2019/07.11/loc/loc_kitti_b4000_random_5.ply"/>

  </node>
</launch>
