<launch>

  	<node pkg="map_compression" type="saliencyMap" name="saliencyMap" output="screen" >

	<param name="normalRadius" value="0.5"/>	
	<param name="fpfhRadius" value="1.0"/>
    <param name="accRatio" value="0.001"/>	

    <param name="highRatio_pointAssoc" value="0.2"/>	
    <param name="sigma" value="0.1"/>	

    <param name="highRatio_highDistinct" value="0.1"/>	
    <param name="highRadius" value="1.5"/>
    <param name="highSearchNum" value="100"/>

	<!--param name="loadMapDir" value="/home/yh/mapModel/2019/06.27/test/"/>
	<param name="subMapCnt" value="1"/>
  	<param name="saveSaliencyDir" value="/home/yh/mapModel/2019/06.27/test/"/-->

	<param name="loadMapDir" value="/home/yinhuan/Data/mapModel/07.03/split_cloudd/"/>
	<param name="subMapCnt" value="49"/>
  	<param name="saveSaliencyDir" value="/home/yinhuan/Data/mapModel/07.03/split_saliency/"/>

  </node>
</launch>
