<launch>

  <node pkg="map_compression" type="splitCloudForSaliency" name="splitCloudForSaliency" output="screen">


	<param name="loadMapName" value="/home/yinhuan/Data/mapModel/saliency/wholeMap_kitti_10.ply"/>
	<param name="loadTrajName" value="/home/yinhuan/Data/mapModel/saliency/keep_kitti.txt"/>
	<param name="splitPathLength" value="10"/>
	<param name="saveCloudDir" value="/home/yinhuan/Data/mapModel/saliency/split_cloud/"/>
	

  </node>

</launch>
