<launch>

  <node pkg="map_compression" type="splitCloudForSaliency" name="splitCloudForSaliency" output="screen">


	<param name="loadMapName" value="/home/yinhuan/Data/mapModel/07.03/wholeMap_yq.ply"/>
	<param name="loadTrajName" value="/home/yinhuan/Data/mapModel/07.03/icp_0301_sparse.txt"/>
	<param name="splitPathLength" value="500"/>
	<param name="saveCloudDir" value="/home/yinhuan/Data/mapModel/07.03/split_cloud/"/>
	

  </node>

</launch>
