<launch>

	<node pkg="map_compression" type="compareDistribution" name="compareDistribution" output="screen">

	<param name="loadMapName1" value="/home/yh/mapModel/2019/07.12/loc/loc_yq_b4000_observe.ply"/>
	<param name="loadMapName2" value="/home/yh/mapModel/2019/07.12/loc/loc_yq_b4000_ILP.ply"/>
	<param name="saveDisName" value="/home/yh/mapModel/2019/07.12/test.txt"/>

  </node>
</launch>
