<launch>

	<node pkg="map_compression" type="errorDistribution" name="errorDistributicon" output="screen">

	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.03/learn/Learned_YQ_map_test_0.02_from_0.2.ply"/>
	<param name="saveDisName" value="/home/yh/mapModel/2018/08.03/learn/Learned_YQ_error_0.02_from_0.2.txt"/-->



	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.02/learn/Learned_kitti10_map_test_0.05.vtk"/>
	<param name="saveDisName" value="/home/yh/mapModel/2018/08.02/learn/Learned_kitti10_error_0.05.txt"/-->



	<param name="loadMapName" value="/home/yh/mapModel/2019/01.08/learn/results/predict_b500_from_1000_test.ply"/>
	<param name="saveDisName" value="/home/yh/mapModel/2019/01.08/learn/results/predict_b500_from_1000_error_dis.txt"/>

  </node>
</launch>
