<launch>

	<node pkg="map_compression" type="errorDistribution" name="errorDistributicon" output="screen">

	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.03/learn/Learned_YQ_map_test_0.02_from_0.2.ply"/>
	<param name="saveDisName" value="/home/yh/mapModel/2018/08.03/learn/Learned_YQ_error_0.02_from_0.2.txt"/-->



	<!--param name="loadMapName" value="/home/yh/mapModel/2019/07.11/learn/test_kitti_b4000_predict.ply"/>
	<param name="saveDisName" value="/home/yh/mapModel/2019/07.11/learn/learned/predict_kitti_b4000_disError.txt"/-->


	<param name="loadMapName" value="/home/yh/mapModel/2019/07.22/learn/test_yq_b3000_predict.ply"/>
	<param name="saveDisName" value="/home/yh/mapModel/2019/07.22/learn/dis/predict_yq_b3000_disError.txt"/>

  </node>
</launch>
