<launch>

	<arg name="loadTrajName"/> 
	<arg name="loadMapName"/> 
	<arg name="saveCloudName"/> 
	<arg name="saveFeaturesName"/> 

  <node pkg="map_compression" type="generateAllFeatures" name="generateAllFeatures" output="screen" required="true">
	
	<param name="loadTrajName" value="$(arg loadTrajName)"/>
	<param name="loadMapName" value="$(arg loadMapName)"/>
	<param name="saveCloudName" value="$(arg saveCloudName)"/>
	<param name="saveFeaturesName" value="$(arg saveFeaturesName)"/>

	<!--param name="loadTrajName" value="/home/yh/mapModel/2019/07.12/keep_0301.txt"/>

	<param name="loadMapName" value="/home/yh/mapModel/2019/07.12/learn/test_yq_b4000.ply"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2019/07.12/learn/test_yq_b4000_features.ply"/>
	<param name="saveFeaturesName" value="/home/yh/mapModel/2019/07.12/learn/txt/test_yq_b4000_label.txt"/-->



	<!--param name="loadTrajName" value="/home/yh/mapModel/2019/07.11/keep_kitti.txt"/>

	<param name="loadMapName" value="/home/yh/mapModel/2019/07.11/learn/train_kitti_b1000.ply"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2019/07.11/learn/train_kitti_b1000_features.vtk"/>
	<param name="saveFeaturesName" value="/home/yh/mapModel/2019/07.11/learn/txt/train_kitti_b1000_label.txt"/-->




	<!--param name="loadTrajName" value="/home/yh/mapModel/2019/01.10/park_pose.txt"/>

	<param name="loadMapName" value="/home/yh/mapModel/2019/01.10/wholeMap_park.ply"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2019/01.10/learn/wholeMap_park_features.ply"/>
	<param name="saveFeaturesName" value="/home/yh/mapModel/2019/01.10/learn/wholeMap_park_test_LABEL.txt"/-->

	
  <!--For Orientation feature of the point & road/-->
  <!--param name="roadDNA" value="100"/-->
  
  <!--Limit the max density-->
  <param name="maxDensity" value="125"/>


  </node>
</launch>
