<launch>

  <node pkg="map_compression" type="loadProResult" name="loadProResult" output="screen">

	<!--param name="loadResultDir" value="/home/yh/mapModel/2019/01.08/iter_results/iter_b_200/final/"/>
	<param name="sectionNum" value="1"/>
	<param name="loadMapName" value="/home/yh/mapModel/2019/01.08/wholeMap_yq.vtk"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2019/01.08/iter_results/b_200.ply"/-->
	
	<param name="loadResultDir" value="/home/yh/mapModel/2019/01.10/opti/iter_b_2000/final/"/>
	<param name="sectionNum" value="1"/>
	<param name="loadMapName" value="/home/yh/mapModel/2019/01.10/wholeMap_park.ply"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2019/01.10/opti/b_2000.ply"/>

  </node>
</launch>
