<launch>

	<arg name="loadMapName"/> 
	<arg name="saveTestName"/> 

  <node pkg="map_compression" type="mapCutterTraj" name="mapCutterTraj" output="screen" required="true">
	
	<!--For Localization Test-->

	<param name="loadMapName" value="$(arg loadMapName)"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2019/07.21/keep_kitti.txt"/>
	<param name="saveTrainName" value="/home/yh/mapModel/2019/07.21/learn/no.ply"/>
	<param name="saveTestName" value="$(arg saveTestName)"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2019/07.21/learn/kitti_train_test.ply"/>
	
	<!--param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="221"/>	
	<param name="cutPoint2" value="212"/>	
	<param name="cutPoint3" value="632"/-->

	<param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="350"/>	
	<param name="cutPoint2" value="351"/>	
	<param name="cutPoint3" value="632"/>




  </node>

</launch>
