<launch>

	<arg name="loadMapName"/> 
	<arg name="saveTrainName"/> 	
	<arg name="saveTestName"/> 	

  <node pkg="map_compression" type="mapCutterTraj" name="mapCutterTraj" output="screen" required="true">


	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/ILP_YQ_map_0.02.vtk"/-->
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/iter_results/b_800_program.ply"/-->


	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/learn/results/predict_b500_from_1000_test_compressed.ply"/-->
	<param name="loadMapName" value="$(arg loadMapName)"/>



	<param name="loadTrajName" value="/home/yh/mapModel/2019/07.21/keep_kitti.txt"/>
	<!--param name="saveTrainName" value="/home/yh/mapModel/2019/01.08/learn/results/no.ply"/>
	<param name="saveTestName" value="/home/yh/mapModel/2019/01.08/learn/results/predict_b2000_locTest.ply"/-->
	<param name="saveTrainName" value="$(arg saveTrainName)"/>
	<param name="saveTestName" value="$(arg saveTestName)"/>
	<!--param name="saveTestName" value="/home/yh/mapModel/2019/01.08/locTest/predict_b500_locTest_.ply"/-->
	<param name="saveCloudName" value="/home/yh/mapModel/2019/07.21/wholeMap_kitti_tran_test.ply"/>
	
	<param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="211"/>	
	<param name="cutPoint2" value="212"/>	
	<param name="cutPoint3" value="632"/>




	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.02/ILP_kitti10_map_0.05.vtk"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2018/08.02/kitti10_pose.txt"/>
	<param name="saveTrainName" value="/home/yh/mapModel/2018/08.02/learn/ILP_kitti10_map_train_0.05.vtk"/>
	<param name="saveTestName" value="/home/yh/mapModel/2018/08.02/learn/ILP_kitti10_map_test_0.05.vtk"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2018/08.02/learn/ILP_kitti10_map_train_test.vtk"/>
	
	<param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="319"/>	
	<param name="cutPoint2" value="320"/>	
	<param name="cutPoint3" value="960"/-->	








	
	<!--For Localization Test-->

	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/test/ILP_YQ_map_test_0.02_locTest.ply"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2019/01.08/icp_0301.txt"/>
	<param name="saveTrainName" value="/home/yh/mapModel/2019/01.08/test/ILP_YQ_map_test_0.02_delete.ply"/>
	<param name="saveTestName" value="/home/yh/mapModel/2019/01.08/test/ILP_YQ_map_test_0.02_locTest.ply"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2019/01.08/test/AAA.ply"/>
	
	<param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="3199"/>	
	<param name="cutPoint2" value="3200"/>	
	<param name="cutPoint3" value="4924"/-->



  </node>

</launch>
