<launch>


  <node pkg="map_compression" type="mapCutterTraj" name="mapCutterTraj" output="screen">


	
	<!--For Localization Test-->

	<param name="loadMapName" value="/home/yh/mapModel/2019/07.11/loc/loc_kitti_b4000_random_2.ply"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2019/07.11/keep_kitti.txt"/>
	<!--param name="saveTrainName" value="/home/yh/mapModel/2019/07.11/learn/train_kitti_b4000.ply"/-->
	<param name="saveTrainName" value="/home/yh/mapModel/2019/07.11/loc/no.ply"/>
	<param name="saveTestName" value="/home/yh/mapModel/2019/07.11/loc/loc_kitti_b4000_random_2.ply"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2019/07.11/loc/no.ply"/>
	
	<!--param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="211"/>	
	<param name="cutPoint2" value="212"/>	
	<param name="cutPoint3" value="632"/-->

	<param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="350"/>	
	<param name="cutPoint2" value="351"/>	
	<param name="cutPoint3" value="632"/>




  </node>

</launch>
