<launch>

  <node pkg="map_compression" type="mapCompresser" name="mapCompresser" output="screen">
	
	<!--get the compressed map by the descriptor name directly-->
	
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/07.11/learn/test_kitti_b4000_predict.ply"/> 
	　<param name="desName" value="salient"/> 
	<param name="saveMapName" value="/home/yh/mapModel/2019/07.11/learn/test_kitti_b4000_predict_compressed.ply"/-->


	<param name="loadMapName" value="/home/yh/mapModel/2019/07.12/learn/test_yq_b1000_predict.ply"/> 
	<param name="desName" value="salient_predicted"/> 
	<param name="saveMapName" value="/home/yh/mapModel/2019/07.12/learn/test_yq_b1000_predict_compressed.ply"/>
	

  </node>
</launch>
