<launch>

	<arg name="loadMapName"/> 

	<node pkg="map_compression" type="mapCheck" name="mapCheck" output="screen">


	<!--Score_0 or Salient_1 or prediction_2? Do not forget-->
	<param name="staticInt" value="15"/> 	
	<param name="showType" value="1"/>




n
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/iter_results/b_800_program.ply"/--> 
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/learn/results/predict_b2000_test.ply"/-->
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/wholeMap_learn.ply"/-->
	<!--param name="loadMapName" value="$(arg loadMapName)"/--> 

	
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/wholeMap_yq.ply"/-->
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/iter_results/b_500_program.ply"/-->
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/01.08/learn/results/predict_b500_test_compressed.ply"/>

	<param name="loadTrajName" value="/home/yh/mapModel/2019/01.08/icp_0301.txt"/>
	<param name="keepIndexName" value="/home/yh/mapModel/2019/01.08/keep_0301_all.txt"/-->





	<param name="loadMapName" value="/home/yh/mapModel/2019/01.09/learn/Learned_kitti_5_compressed.ply"/>

	<param name="loadTrajName" value="/home/yh/mapModel/2019/01.09/kitti10_pose.txt"/>
	<param name="keepIndexName" value="/home/yh/mapModel/2019/01.09/keep_kitti10_all.txt"/>





	<!--param name="loadMapName" value="/home/yh/mapModel/2019/09.22/ILP_park_map_0.1.ply"/-->
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/09.22/learn/LocTest_park_map_0.02_program.ply"/-->

	<!--param name="loadTrajName" value="/home/yh/mapModel/2019/09.22/global_pose.txt"/>
	<param name="keepIndexName" value="/home/yh/mapModel/2019/09.22/keep_chery.txt"/-->


  </node>
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_compression)/cfg/mapCheck_kitti10.rviz" output="screen"/>
<!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_compression)/cfg/mapCheck_yq.rviz" output="screen"/-->
</launch>
