<launch>

	<arg name="loadMapName"/> 

	<node pkg="map_compression" type="mapCheck" name="mapCheck" output="screen">


	<!--Score_0 or Salient_1 or prediction_2? Do not forget-->
	<param name="staticInt" value="0"/> 	
	<param name="showType" value="0"/>


	<param name="loadMapName" value="/home/yh/mapModel/2019/07.11/loc/loc_kitti_b1000_learn.ply"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2019/07.11/kitti_loc_pose.txt"/>

	<!--param name="loadMapName" value="/home/yh/mapModel/2019/07.12/wholeMap_yq.ply"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2019/07.12/keep_0301.txt"/-->

  </node>
<!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_compression)/cfg/mapCheck_park.rviz" output="screen"/-->
<!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_compression)/cfg/mapCheck_yq.rviz" output="screen"/-->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_compression)/cfg/mapCheck_kitti10_part.rviz" output="screen"/>
</launch>
