<launch>

	<node pkg="map_compression" type="mapCheck" name="mapCheck" output="screen">

	<param name="indexFileName" value=""/>
	<param name="isChery" value="false" />	
	<param name="isKITTI" value="false" />	
	<param name="loadScanDir" value="/media/yh/YH1/DataSet/YQ21/2017_03_03/2017_03_03_drive_0001_sync/velodyne_points/data"/>
	<param name="saveScanDir" value="/home/yh/mapModel/2019/01.08/i.txt"/>


  </node>

</launch>
