<launch>

	<node pkg="map_compression" type="mapFilter" name="mapFilter" output="screen">

	<param name="mapPostFilters" value="$(find map_compression)/cfg/map_filters.yaml"/>
	
	<!--param name="loadMapName" value="/home/yh/mapModel/2019/07.22/wholeMap_yq_origin.ply"/>
    <param name="saveMapName" value="/home/yh/mapModel/2019/07.22/wholeMap_yq.ply"/-->	


	<!--param name="loadMapName" value="/home/yh/mapModel/2019/07.21/wholeMap_kitti_origin.ply"/>
	<param name="saveMapName" value="/home/yh/mapModel/2019/07.21/wholeMap_kitti.ply"/-->

	<param name="loadMapName" value="/home/yh/mapModel/2019/07.23/wholeMap_park_origin.ply"/>
	<param name="saveMapName" value="/home/yh/mapModel/2019/07.23/wholeMap_park.ply"/>
	


  </node>
<!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_compression)/cfg/mapFilter.rviz" output="screen"/-->
</launch>
