<launch>

  <node pkg="map_compression" type="mapScoring" name="mapScoring" output="screen">

	<!--Whether has sesssion & label descriptors　|| for multi-session datasets test before || no use -->
	<param name="isFirstTime" value="true"/>
	
	<!--KITTI or YQ-->
	<param name="isChery" value="false" />
	<param name="isKITTI" value="true" />

	<!--param name="wholeMapName" value="/home/yh/mapModel/2019/07.12/wholeMap_yq.ply"/> 
	<param name="velodyneDirName" value="/media/yh/YH/its/yq_0301/"/>

	<param name="icpFileName" value="/home/yh/mapModel/2019/07.12/keep_0301.txt"/>
	<param name="saveVTKname" value="/home/yh/mapModel/2019/07.12/wholeMap_yq_scored.ply"/-->

	<param name="wholeMapName" value="/home/yh/mapModel/2019/07.11/wholeMap_kitti_10.ply"/> 
	<param name="velodyneDirName" value="/media/yh/YH/its/kitti_10/"/>
	<param name="icpFileName" value="/home/yh/mapModel/2019/07.11/keep_kitti.txt"/>
	<param name="saveVTKname" value="/home/yh/mapModel/2019/07.11/wholeMap_kitti_10_scored.ply"/>

	<!--param name="wholeMapName" value="/home/yh/mapModel/2019/01.10/wholeMap_park.ply"/>
	<param name="icpFileName" value="/home/yh/mapModel/2019/01.10/park_pose.txt"/>
	<param name="velodyneDirName" value="/media/yh/YH/DataSet/chery/scan/"/>
　　　 <param name="saveVTKname" value="/home/yh/mapModel/2019/01.10/wholeMap_park_scored.ply"/-->
	
	<param name="limitRange" value="0.1"/>
	<param name="kSearch" value="10"/>
	
	<!--Not used for the complexity/-->
	<!--param name="horizontalResRad" value="0.0035"/-->

  </node>
</launch>
