<launch>

  <node pkg="map_compression" type="scanRegister" name="scanRegister" output="screen">
	
	<!--KITTI or YQ & actually SLAM in YQ, no registration from gt & add Chery-->
	<param name="isChery" value="true" />	
	<param name="isKITTI" value="false" />	

    <param name="inputFilterName" value="$(find map_compression)/cfg/input_filters.yaml"/>



	<!--There are dynamic objects in YQ dataset-->

	<!--param name="icpFileName" value="/home/yh/mapModel/2019/01.08/icp_0301.txt"/> 
	<param name="velodyneDirName" value="/media/yh/YH/DataSet/YQ21/2017_03_03/2017_03_03_drive_0001_sync/velodyne_points/data/"/>
	<param name="saveVTKname" value="/home/yh/mapModel/2019/01.08/wholeMap_yq_origin.vtk"/-->




	<!--param name="icpFileName" value="/home/yh/mapModel/2019/01.09/kitti10_pose.txt"/> 
	<param name="velodyneDirName" value="/media/yh/YH/DataSet/kitti_benchmark_velodyne/dataset/sequences/10/velodyne/"/> 
	<param name="saveVTKname" value="/home/yh/mapModel/2019/01.09/wholeMap_kitti_10_origin.ply"/-->




	<param name="icpFileName" value="/home/yh/mapModel/2019/01.10/park_pose.txt"/> 
	<param name="velodyneDirName" value="/media/yh/YH/DataSet/chery/scan/"/>
	<param name="saveVTKname" value="/home/yh/mapModel/2019/01.10/wholeMap_park_origin.ply"/>




  </node>
</launch>
