<launch>

  <node pkg="learned_map" type="DBSCANFilter" name="DBSCANFilter" output="screen">

  <!--param name="loadMapName" value="/home/yh/mapModel/05.18/Tianjin/saliency_cloud_only.vtk"/-->
  <param name="loadMapName" value="/home/yh/mapModel/05.21/saliency_cloud_yq.vtk"/>
　 <param name="saveCloudName" value="/home/yh/mapModel/05.25/yq_DBSCAN_result.vtk"/>
	
  <param name="kSearch" value="100"/>
  <param name="minPoints" value="50"/>
  <param name="e" value="3.5"/>

  </node>
</launch>
