<launch>

  <node pkg="map_compression" type="generateOtherFeatures" name="generateOtherFeatures" output="screen">

  <param name="loadMapName" value="/home/yh/mapModel/2018/07.02/sessionMap030001.vtk"/>
  <param name="loadTrajName" value="/home/yh/mapModel/2018/07.02/icp_0301.txt"/>
  <param name="saveCloudName" value="/home/yh/mapModel/2018/07.10/saveFeatures_yq.vtk"/>
  <param name="saveFeaturesName" value=""/>
  <param name="mapLength" value="10560"/>
	
  <!--For Orientation feature of the point & road/-->
  <param name="roadDNA" value="100"/>

  <param name="maxDensity" value="30"/>


  </node>
</launch>
