<launch>

  <node pkg="map_compression" type="generateOtherFeatures" name="generateOtherFeatures" output="screen">

  <param name="loadMapName" value="/home/yh/mapModel/05.18/Tianjin/wholeMap_tianjin.vtk"/>
  <param name="loadTrajName" value="/home/yh/mapModel/05.18/Tianjin/icp_tianjin.txt"/>
  <param name="saveCloudName" value="/home/yh/mapModel/05.18/Tianjin/wholeMap_features_tianjin.vtk"/>
  <param name="saveFeaturesName" value=""/>
  <param name="mapLength" value="1656"/>

  <param name="roadDNA" value="100"/>
  <param name="maxDensity" value="30"/>


  </node>
</launch>
