<launch>

  <node pkg="learned_map" type="loadProResult" name="loadProResult" output="screen">

	<param name="loadResultDir" value="/home/yh/mapModel/2018/07.06/gurobi_compress_2/"/>
	<param name="sectionNum" value="138"/>
	<param name="loadMapName" value="/home/yh/mapModel/2018/07.06/ILP_YQ_compressed_1.vtk"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2018/07.06/ILP_YQ_result_2.vtk"/>
	
  </node>
</launch>
