<launch>

  <node pkg="map_compression" type="loadFinalResults" name="loadFinalResults" output="screen">

	<param name="loadResultName" value="/home/yh/mapModel/05.18/Tianjin/result.txt"/>
	<param name="loadMapName" value="/home/yh/mapModel/05.18/Tianjin/wholeMap_features_tianjin.vtk"/>
	<param name="saveCloudName" value="/home/yh/mapModel/05.18/Tianjin/detection_result.vtk"/>
	
  </node>
</launch>
