<launch>

  <node pkg="learned_map" type="locTest" name="locTest" output="screen">
	
	<param name="loadMapName" value="/home/yh/mapModel/05.21/saliencyCloud_yq.vtk"/>
	<param name="loadTrajName" value="/home/yh/mapModel/05.18/Tianjin/icp_tianjin.txt"/>
	<param name="loadVeloDir" value="/media/yh/YH/DataSet/YQ21/2017_03_03/2017_03_03_drive_0001_sync/velodyne_points/vtk/"/>
	<param name="mapLength" value="10560"/>

	<param name="startIndex" value="7310"/>
	<param name="endIndex" value="10500"/>

	<param name="icpYaml" value="$(find learned_map)/cfg/icp.yaml"/>

  </node>
</launch>
