<launch>

  <node pkg="learned_map" type="mapAccuLaserMultiple" name="mapAccuLaserMultiple" output="screen">
  
  <param name="inputFilterName" value="/home/yh/mine_ws/src/learned_map/cfg/inputFilters.yaml"/>

  <param name="isFirstTime" value="false"/>
  <param name="wholeMapName" value="/home/yh/mapModel/12.22/wholeMap_s7.vtk"/> 
  <param name="icpFileName" value="/media/yh/YH/DataSet/YQ21/2017_03_03/2017_03_03_drive_0008_sync/icp/icp.txt"/> 
  <param name="velodyneDirName" value="/media/yh/YH/DataSet/YQ21/2017_03_03/2017_03_03_drive_0008_sync/velodyne_points/data/"/> 
  <param name="totalICPnum" value="10719"/>
  <param name="saveVTKname" value="/home/yh/mapModel/12.22/wholeMap_s8.vtk"/>
  <param name="savePnumsName" value="/home/yh/mapModel/12.22/wholeMap_s8.txt"/>
  <param name="kSearch" value="5"/>


  </node>

</launch>
