<launch>

  <node pkg="learned_map" type="mapCompare" name="mapCompare" output="screen">

  <param name="loadMapName0" value="/home/yh/mapModel/05.28/wholeMap_s2_salient.vtk"/>
  <param name="loadMapName1" value="/home/yh/mapModel/05.28/wholeMap_s3_salient.vtk"/>
  <!--param name="saveIndexName" value="/home/yh/mapModel/05.28/2_3_index.txt"/-->
  <!--param name="saveDistsName" value="/home/yh/mapModel/05.28/icp_0301.txt"/-->



  </node>
</launch>
