<launch>

  <node pkg="learned_map" type="mapCompresser" name="mapCompresser" output="screen">

  <param name="loadMapName" value="/home/yh/mapModel/05.18/Tianjin/detection_result.vtk"/> 
  <param name="saveMapName" value="/home/yh/mapModel/05.18/Tianjin/saliency_cloud_only.vtk"/>

  </node>
</launch>
