<launch>

  <node pkg="map_compression" type="mapCutterTraj" name="mapCutterTraj" output="screen">

	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.03/ILP_YQ_map_0.01.vtk"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2018/08.03/icp_0301.txt"/>
	<param name="keepIndexName" value="/home/yh/mapModel/2018/08.03/keep_0301.txt"/>
	<param name="saveTrainName" value="/home/yh/mapModel/2018/08.03/learn/ILP_YQ_map_train_0.01.vtk"/>
	<param name="saveTestName" value="/home/yh/mapModel/2018/08.03/learn/ILP_YQ_map_test_0.01.vtk"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2018/08.03/learn/ILP_YQ_map_train_test.vtk"/>
	
	<param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="899"/>	
	<param name="cutPoint2" value="900"/>	
	<param name="cutPoint3" value="4924"/-->	

	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.02/ILP_kitti10_map_0.05.vtk"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2018/08.02/kitti10_pose.txt"/>
	<param name="keepIndexName" value="/home/yh/mapModel/2018/08.02/kitti10_keep.txt"/>
	<param name="saveTrainName" value="/home/yh/mapModel/2018/08.02/learn/ILP_kitti10_map_train_0.05.vtk"/>
	<param name="saveTestName" value="/home/yh/mapModel/2018/08.02/learn/ILP_kitti10_map_test_0.05.vtk"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2018/08.02/learn/ILP_kitti10_map_train_test.vtk"/>
	
	<param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="319"/>	
	<param name="cutPoint2" value="320"/>	
	<param name="cutPoint3" value="960"/-->	

	
	<!--For Localization Test-->

	<param name="loadMapName" value="/home/yh/mapModel/2018/08.03/learn/Learned_YQ_map_test_0.01_from_0.05.ply"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2018/08.03/icp_0301.txt"/>
	<param name="keepIndexName" value="/home/yh/mapModel/2018/08.03/keep_0301.txt"/>
	<param name="saveTrainName" value="/home/yh/mapModel/2018/08.03/test/Learned_YQ_map_test_0.01_from_0.05_delete.ply"/>
	<param name="saveTestName" value="/home/yh/mapModel/2018/08.03/test/Learned_YQ_map_test_0.01_from_0.05_kept.ply"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2018/08.03/learn/Learned_YQ_map_test_0.05_delete_.vtk"/>
	
	<param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="3199"/>	
	<param name="cutPoint2" value="3200"/>	
	<param name="cutPoint3" value="4924"/>

	<!--For Localization Test, not test in kitti temp-->
	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.02/learn/Learned_kitti10_map_test_0.05.ply"/>
	<param name="loadTrajName" value="/home/yh/mapModel/2018/08.02/kitti10_pose.txt"/>
	<param name="keepIndexName" value="/home/yh/mapModel/2018/08.02/kitti10_keep.txt"/>
	<param name="saveTrainName" value="/home/yh/mapModel/2018/08.02/test/Learned_kitti10_map_test_0.05_delete.ply"/>
	<param name="saveTestName" value="/home/yh/mapModel/2018/08.02/test/Learned_kitti10_map_test_0.05_kept.ply"/>
	<param name="saveCloudName" value="/home/yh/mapModel/2018/08.02/learn/Learned_kitti10_map_test_0.05_delete_.vtk"/>
	
	<param name="cutPoint0" value="0"/>	
	<param name="cutPoint1" value="599"/>	
	<param name="cutPoint2" value="600"/>	
	<param name="cutPoint3" value="960"/-->


  </node>

</launch>
