<launch>

	<node pkg="map_compression" type="mapCheck" name="mapCheck" output="screen">

	<param name="loadMapName" value="/home/yh/mapModel/2018/08.03/wholeMap_yq.vtk"/>
	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.03/learn/ILP_YQ_result_test_0.1.vtk"/-->
	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.03/ILP_YQ_result.vtk"/-->

	<param name="loadTrajName" value="/home/yh/mapModel/2018/08.03/icp_0301.txt"/>
	<param name="keepIndexName" value="/home/yh/mapModel/2018/08.03/keep_0301.txt"/>

	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.02/wholeMap_kitti_09_scored.vtk"/>

	<param name="loadTrajName" value="/home/yh/mapModel/2018/08.02/kitti09_pose.txt"/>
	<param name="keepIndexName" value="/home/yh/mapModel/2018/08.02/kitti09_keep.txt"/-->

	<!--Score or Salient? Do not forget-->
	<param name="staticInt" value="22"/> 	
	<param name="isScore" value="1"/>


  </node>
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_compression)/cfg/mapCheck.rviz" output="screen"/>
</launch>
