<launch>

  <node pkg="learned_map" type="mapScoringIndex" name="mapScoringIndex" output="screen">
  
	<param name="inputFilterName" value="/home/yh/mine_ws/src/learned_map/cfg/inputFilters.yaml"/>

	<!--Whether has sesssion & label descriptors-->
	<param name="isFirstTime" value="true"/>

	<!--param name="wholeMapName" value="/home/yh/wholeMap.vtk"/--> 
	<param name="wholeMapName" value="/home/yh/mapModel/2018/06.02/wholeMap_origin.vtk"/> 
	<param name="icpFileName" value="/media/yh/YH/DataSet/YQ21/2017_03_03/2017_03_03_drive_0001_sync/icp/icp.txt"/> 
	<param name="velodyneDirName" value="/media/yh/YH/DataSet/YQ21/2017_03_03/2017_03_03_drive_0001_sync/velodyne_points/data/"/> 
	<param name="keepIndexName" value="/home/yh/mapModel/2018/07.02/icp030001_keep.txt"/> 

	<param name="saveVTKname" value="/home/yh/mapModel/2018/07.02/sessionMap030001_limit.vtk"/>
	<param name="kSearch" value="5"/>

	<param name="horizontalResRad" value="0.0035"/>
	<param name="limitRange" value="0.1"/>


  </node>
</launch>
