<launch>

  	<node pkg="map_compression" type="randomSampleMap" name="randomSampleMap" output="screen">
	
  	<param name="loadMapName" value="/home/yh/mapModel/2018/08.03/test/Learned_YQ_map_test_PART.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2018/08.03/test/Random/Random5_YQ_map_test_0.2_locTest.ply"/>

		
  	<!--param name="keepPointsNum" value="6608"/-->
  	<!--param name="keepPointsNum" value="27684"/-->
  	<!--param name="keepPointsNum" value="58319"/-->
    <param name="keepPointsNum" value="121180"/>

	<!--param name="loadMapName" value="/home/yh/mapModel/2018/08.02/test/Learned_kitti10_map_test_0.05_kept.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2018/08.02/test/Random_kitti10_map_test_0.05_locTest.ply"/>
	<param name="keepPointsNum" value=""/-->


  </node>
</launch>
