<launch>

  <node pkg="learned_map" type="randomSampleMap" name="randomSampleMap" output="screen">

  <param name="loadMapName" value="/home/yh/mapModel/05.18/05_18_final_test.vtk"/>
  <param name="saveMapName" value="/home/yh/mapModel/06.03/wholeMap_random_0.05_0.vtk"/>
  <param name="keepPointsNum" value="8583"/>
  <param name="totalPointsNum" value="171663"/>


  </node>
</launch>
