<launch>

  <node pkg="learned_map" type="sessionFilter" name="sessionFilter" output="screen">

	<!--Make some points salient. The total num fixed.-->
	<param name="loadMapName" value="/home/yh/mapModel/2018/07.02/sessionMap030001_limit.vtk"/>
	<param name="saveMapName" value="/home/yh/mapModel/2018/07.03/030001_salient.vtk"/>
	<param name="staticInt" value="44"/> 

	<!--If need the clustering to filter the noise points-->
	<param name="ifCluster" value="false"/>
	<param name="rangeSearch" value="3"/>	
	<param name="minStaticPoints" value="5"/>
	<param name="kSearch" value="20"/>


  </node>
<!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find learned_map)/cfg/sessionFilter.rviz" output="screen"/-->
</launch>
