<launch>

  	<node pkg="map_compression" type="clusterMap" name="clusterMap" output="screen">
	
  	<param name="loadMapName" value="/home/yh/mapModel/2018/09.22/wholeMap_park.ply"/>
  	<param name="saveMapName" value="/home/yh/mapModel/2018/09.22/locTest/Cluster_park_map_0.02.ply"/>
    <param name="disThreshold" value="0.25"/>
    <param name="minNum" value="20"/>
    <param name="maxNum" value="100"/>
    <param name="expectedNum" value="11148"/>

  </node>
</launch>
