<launch>

  	<node pkg="map_compression" type="locTest" name="locTest" output="screen">
	
	<!--KITTI or YQ # add Chery.vtk-->
	<param name="isChery" value="false" />	
	<param name="isKITTI" value="true" />	
	

	<!--YQ-->
	<!--Not close to the beginning and end of the cutted map-->
	<!--Multi-session test, in Day three-->


	<!--param name="wholeMapName" value="/home/yh/mapModel/2019/01.08/locTest/random/random_b500_1_locTest.ply"/--> 
	<param name="wholeMapName" value="/home/yh/mapModel/2019/07.21/loc/loc_kitti_b1000_ILP.ply"/> 

	<param name="velodyneDirName" value="/media/yh/YH/DataSet/kitti_benchmark_velodyne/dataset/sequences/10/velodyne/"/>
	<param name="icpFileName" value="/home/yh/mapModel/2019/07.21/kitti_loc_pose.txt"/>

	<param name="startIndex" value="900"/>
	<param name="endIndex" value="1200"/>
	
	<param name="inputFilterYaml" value="$(find map_compression)/cfg/loc_laser_filters_kitti.yaml"/>
	<param name="mapFilterYaml" value="$(find map_compression)/cfg/loc_map_filters_kitti.yaml"/>
	<param name="icpYaml" value="$(find map_compression)/cfg/loc_icp_kitti.yaml"/>
	
	<param name="savePoseName" value="/home/yh/mapModel/2019/07.21/laptop/pose_kitti_b1000_ILP.txt"/> 
	<param name="saveTimeName" value="/home/yh/mapModel/2019/07.21/laptop/time_kitti_b1000_ILP.txt"/> 
	<param name="saveIterName" value="/home/yh/mapModel/2019/07.21/laptop/iter_kitti_b1000_ILP.txt"/> 

  </node>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_compression)/cfg/locTest.rviz" output="screen"/>
</launch>
